{% extends "facerec/layoutbase.html" %}
{% block title %}
UFSM :: Estudante
{% endblock %}
{% block content %}
<h1>Estudante</h1>
<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <td>Matrícula </td>
            <td>{{ form.registro }}</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>{{ form.nome }}</td>
        </tr>
        <tr>
            <td>Sobrenome</td>
            <td>{{ form.sobrenome }}</td>
        </tr>
        <tr>
            <td>Curso</td>
            <td>{{ form.curso }}</td>
        </tr>
        <tr>
            <td>Semestre atual</td>
            <td>{{ form.semestre_atual}}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar"></td>
        </tr>
    </table>
</form>
{% endblock %}