asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
compreface-sdk==0.6.0
Django==4.2.9
djangorestframework==3.14.0
exceptiongroup==1.2.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
pytest==8.0.0
pytest-django==4.8.0
pytz==2024.1
requests==2.31.0
requests-toolbelt==0.10.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
urllib3==1.26.15
zipp==3.17.0
